<!-- <agm-map [backgroundColor]="'#c9c9c9'" [latitude]="latitude" [longitude]="longitude" [styles]="styles" [zoom]="2" (mapClick)="close_window()">
  <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng" [opacity]="marker.alpha" 
    (markerClick)="openWindow(marker.id, marker.lat, marker.lng)" (close)="close_window()">
    <agm-info-window [isOpen]="isInfoWindowOpen(marker.id)" [latitude]="marker.lat" [longitude]="marker.lng">
      <app-map-articles-popup [articles]="getArticlesFromLatitudeLongtitude(marker.lat, marker.lng)"></app-map-articles-popup> -->


<div style="border: none; position: relative;">
  <div style="top: 10px; right: 10px; text-align: right; z-index: 64; position: absolute;">
    <div class="m-2 btn-group btn-group-toggle" ngbRadioGroup name="map-view-toggle" [(ngModel)]="mapViewToggleState">

      <ng-multiselect-dropdown
      class="btn-md btn-info multiselect-dropdown"
      [placeholder]="'Diseases'"
      [data]="allDiseases"
      [(ngModel)]="selectedDiseases"
      [settings]="dropdownSettings"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)"
    >
    </ng-multiselect-dropdown>

    <label ngbButtonLabel class="btn-md btn-info">
      <input ngbButton type="radio" [value]="true" (click)="FilterMasterMap()">
      <i class="fa fa-filter" aria-hidden="true"></i>Filter
    </label>

      <label ngbButtonLabel class="btn-md btn-info">
        <input ngbButton type="radio" [value]="true" (click)="toggleMapView(true)">
        <fa-icon [icon]="faMapMarkedAlt"></fa-icon> Map View
      </label>
      <label ngbButtonLabel class="btn-md btn-info">
        <input ngbButton type="radio" [value]="false" (click)="toggleMapView(false)">
        <fa-icon [icon]="faListAlt"></fa-icon> List View
      </label>
    </div>

    <!-- <label class="btn-primary" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="this.mapView"> Filter
    </label> -->
  </div>

  <agm-map
    [backgroundColor]="'#c9c9c9'"
    [latitude]="latitude"
    [longitude]="longitude"
    [streetViewControl]="false"
    [styles]="styles"
    [zoom]="2"
    (mapClick)="close_window($event)"
    *ngIf="this.mapView"
  >
    <agm-marker *ngFor="let marker of markers"
      [latitude]="marker.lat"
      [longitude]="marker.lng"
      [opacity]="marker.alpha"
      (markerClick)="select_marker(infoWindow)"
    >
      <agm-info-window #infoWindow [latitude]="marker.lat" [longitude]="marker.lng">
        <app-map-articles-popup [articles]="getArticlesFromLatitudeLongtitude(marker.lat, marker.lng)">
        </app-map-articles-popup>
      </agm-info-window>
    </agm-marker>
  </agm-map>

  <div *ngIf="!this.mapView">
    <app-map-articles-list-view [articles]="this.filterResult"></app-map-articles-list-view>
  </div>
</div>