
agm-map {
  height: calc(100vh - 56px); /* height is required */
}

.modal {
  display: block !important; /* I added this to see the modal, you don't need this */
}

/* Important part */
.modal-dialog {
  overflow-y: initial !important;
}
.modal-body {
  height: 600px;
  overflow-y: auto;
}

#dropdownTerms:after {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.expander {
  border: none;
  padding: 0;
}

.expander > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.expander > span {
  min-width: 144px;
  padding-right: 48px;
  visibility: hidden;
  white-space: pre;
}

#from, #to {
  min-width: 114px;
}

.input-group > button {
  border-radius: 0;
  z-index: 1;
}