<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Enoki Mushrooms - Listeria Infections
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <a href="https://www.cdc.gov/listeria/outbreaks/enoki-mushrooms-03-20/index.html" target="_blank">
      Article Direct Link
    </a>
    <br />
    Source: CDC <br />
    Date of publication: 2020-03-01 17:40:00 <br />
    <hr />
    hugh mungus
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
      Save
    </button>
  </div>
</ng-template>

<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="2" (mapClick)="close_window()">
  <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng" [opacity]="marker.alpha"
    (markerClick)="openWindow(marker.id, marker.lat, marker.lng)" (close)="close_window()">
    <agm-info-window [isOpen]="isInfoWindowOpen(marker.id)" [latitude]="marker.lat" [longitude]="marker.lng">
      <app-map-articles-popup [articles]="getArticlesFromLatitudeLongtitude(marker.lat, marker.lng)"></app-map-articles-popup>
      <!-- <div *ngFor="let article of getArticlesFromLatitudeLongtitude(marker.lat, marker.lng)">
        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
          {{article.headline}}
        </button>
      </div> -->
    </agm-info-window>
  </agm-marker>
</agm-map>