
<!-- <agm-map [backgroundColor]="'#c9c9c9'" [latitude]="latitude" [longitude]="longitude" [styles]="styles" [zoom]="2" (mapClick)="close_window()">
  <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng" [opacity]="marker.alpha" 
    (markerClick)="openWindow(marker.id, marker.lat, marker.lng)" (close)="close_window()">
    <agm-info-window [isOpen]="isInfoWindowOpen(marker.id)" [latitude]="marker.lat" [longitude]="marker.lng">
      <app-map-articles-popup [articles]="getArticlesFromLatitudeLongtitude(marker.lat, marker.lng)"></app-map-articles-popup> -->


<div style="border: 1px solid greenyellow; position: relative;">
  <div style="top: 10px; right: 10px; text-align: right; z-index: 64; position: absolute;">
    <label class="btn-primary" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="this.mapView"> Map View
    </label>
    <label class="btn-primary" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="this.mapView"> Filter
    </label>
  </div>

  <agm-map
    [backgroundColor]="'#c9c9c9'"
    [latitude]="latitude"
    [longitude]="longitude"
    [streetViewControl]="false"
    [styles]="styles"
    [zoom]="2"
    (mapClick)="close_window($event)"
    *ngIf="this.mapView"
  >
    <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng" [opacity]="marker.alpha"
      (markerClick)="select_marker(infoWindow)">
      <agm-info-window #infoWindow [latitude]="marker.lat" [longitude]="marker.lng">
        <app-map-articles-popup [articles]="getArticlesFromLatitudeLongtitude(marker.lat, marker.lng)">
        </app-map-articles-popup>
      </agm-info-window>
    </agm-marker>
  </agm-map>

  <div *ngIf="!this.mapView">
    <div *ngFor="let article of this.searchResult">
      <pre>{{ article|json}}</pre>
    </div>
  </div>
</div>
