
agm-map {
  height: calc(100vh - 56px); /* height is required */
}

.modal {
  display: block !important; /* I added this to see the modal, you don't need this */
}

/* Important part */
.modal-dialog {
  overflow-y: initial !important;
}
.modal-body {
  height: 600px;
  overflow-y: auto;
}
