################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PHASE_2/Application_SourceCode/MedicApplicationBackEnd/MedicBackEnd
