<div class="card m-2 p-2" style="background-color: transparent; border: none; position: absolute; z-index: 64;">
    <div>
        <div ngbDropdown class="btn-group pr-2" (openChange)="openFocus($event, terms)">
            <button class="btn btn-md btn-primary text-left" id="dropdownTerms"
                ngbDropdownToggle>{{displayTerms}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownTerms" id="dropTerms">
                <div class="form-inline">
                    <div class="input-group px-2 w-100">
                        <div class="form-control expander">
                            <span class="form-control"></span>
                            <input type="text" name="terms" class="form-control" placeholder="Key term"
                                [(ngModel)]="keyterm" #terms (input)="expandInput($event)" (keyup.enter)="addTerm.click()">
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button" #addTerm
                                (click)="addKeyTerm(); clearInput(terms)">+</button>
                        </div>
                    </div>
                    <div class="px-2 pt-2 w-100" *ngIf="keyterms.length">
                        <ul class="list-group">
                            <li *ngFor="let key of keyterms; let i = index" [style.z-index]="keyterms.length-i"
                                class="list-group-item list-group-item-action d-table" style="padding: .375rem .75rem;">
                                <span class="align-top d-table-cell pr-3">{{key}}</span>
                                <button type="button" class="close" aria-label="Close" (click)="delKeyTerm(i)">
                                    <span aria-hidden="true" class="small"> &times; </span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div ngbDropdown class="btn-group pr-2" (openChange)="openFocus($event, locations)">
            <button class="btn btn-md btn-primary text-left" id="dropdownTerms"
                ngbDropdownToggle>{{displayLocation}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownTerms" id="dropTerms">
                <div class="form-inline">
                    <div class="input-group px-2">
                        <div class="form-control expander">
                            <span class="form-control"></span>
                            <input type="text" name="terms" class="form-control" placeholder="Location"
                                placement="bottom" ngbTooltip="Enter a location" [(ngModel)]="this.location"
                                #locations (input)="expandInput($event); changeLocation()">
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-danger" type="button" 
                                (click)="clearInput(locations)">X</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ngbDropdown class="btn-group pr-2">
            <button class="btn btn-md btn-secondary text-left" id="dropdownTerms" ngbDropdownToggle>
                {{displayPeriod}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownTerms" id="dropTerms">
                <form class="px-2">
                    <div class="form-row mb-1">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="period" id="periodWeek"
                                    value="week" checked (change)="changePeriod($event.target.value)">
                                <label class="form-check-label" for="periodWeek">
                                    Past week
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="period" id="periodMonth"
                                    value="month" (change)="changePeriod($event.target.value)">
                                <label class="form-check-label" for="periodMonth">
                                    Past month
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend" placement="bottom" ngbTooltip="Enter a custom date range">
                            <div class="input-group-text">
                                <input type="radio" name="period" id="periodRange" value="range" (change)="changePeriod($event.target.value)">
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="from" id="from" #from
                            (dateSelect)="updateInput(from)" (input)="onDateChange()" ngbDatepicker #fromPicker="ngbDatepicker" [(ngModel)]="fromDate">
                        <button class="btn btn-outline-secondary pt-0" (click)="fromPicker.toggle()" type="button">
                            <svg class="bi bi-calendar" width="1em" height="1em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M14 0H2a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"
                                    clip-rule="evenodd" />
                                <path fill-rule="evenodd"
                                    d="M6.5 7a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                        <div class="input-group-prepend">
                            <div class="input-group-text">to</div>
                        </div>
                        <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="to" id="to" #to
                            (dateSelect)="updateInput(to)" (input)="onDateChange()" ngbDatepicker #toPicker="ngbDatepicker" [(ngModel)]="toDate">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary pt-0" (click)="toPicker.toggle()"
                                type="button">
                                <svg class="bi bi-calendar" width="1em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M14 0H2a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"
                                        clip-rule="evenodd" />
                                    <path fill-rule="evenodd"
                                        d="M6.5 7a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <button type="submit" class="btn btn-md btn-info" (click)="submitSearch()">Search</button>
    </div>
</div>