#dropdownTerms:after {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.expander {
  border: none;
  padding: 0;
}

.expander > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.expander > span {
  min-width: 144px;
  padding-right: 64px;
  visibility: hidden;
  white-space: pre;
}

#from, #to {
  min-width: 114px;
}

.input-group > button {
  border-radius: 0;
  z-index: 1;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-color: #fff; */
  /* background-clip: border-box; */
  /* border: 1px solid rgba(0,0,0,.125); */
  /* border-radius: .25rem;*/
}

.dropdown-toggle {
  min-width: 128px;
  padding-right: 32px;
}